<%- include('../layout/header.ejs') %>

<% if (message) { %>
  <p><%= message %></p>
<% } else if (user) { %>
  <table border="1">
    <thead>
      <tr>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user.email %></td>
      </tr>
    </tbody>
  </table>
<% } %>

<a href="/admin/home">Back</a>
<%- include('../layout/footer.ejs') %>
